<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dodawanie czasu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>

<div th:replace="index :: nav"></div>


<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <h1 th:text="${movieRepertoire.title}"> Nazwa filmu</h1>
                <form action="#" th:action="@{${repertoire.id != null ? '/movies/admin/updateRepertoire' : '/movies/admin/newRepertoire'}}" th:object="${repertoire}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="date" class="col-form-label">Data i godzina</label>
                            <input type="datetime-local" th:field="*{date}" class="form-control" id="date" value="2021-01-20T13:01">
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" th:value="${repertoire.id != null ? 'Zapisz' : 'Dodaj'}">
                        </div>
                        <div class="form-group col-md-8"></div>
                    </div>
                    <input type="hidden" name="movieId" th:value="${movieRepertoire.id}">
                    <input type="hidden" name="repertoireId" th:value="${repertoire.id}">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>